div {
    padding: 10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.overlay {
    position: absolute;
    display: none;
    text-align: center;
    line-height: 490px;
    height: 490px;
    width: 960px;
    z-index: 1;
    background-color: rgba(208, 208, 208, 0.5);
}
.inner {
    position: absolute;
 }